---
import { ClubsSlotName, type ClubsPropsPages } from '@devprotocol/clubs-core'
import '@devprotocol/clubs-core/styles'
import './global.css'

type Props = ClubsPropsPages
const { clubs } = Astro.props

const SlotsPageContentHomeBeforeContent = clubs.slots.filter(
	(slot) => slot.slot === ClubsSlotName.PageContentHomeBeforeContent,
)
---

<!doctype html>
<html class="bg-gray-100" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<main>
			{
				SlotsPageContentHomeBeforeContent.map((Slot) => (
					<Slot.component {...Slot.props} />
				))
			}
			<slot name="clubs:connect-button" />
			<slot />
		</main>
	</body>
</html>
