---
import '@devprotocol/clubs-core/styles'
import Connect from './Connect.vue'
---

<!DOCTYPE html>
<html class="bg-gray-100" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<Connect client:only />
		<main>
			<slot />
		</main>
	</body>
</html>
